@import "responsive";

$white-base: #fff;
$bg-card-item: #0d1217;
$black-base: #000;
$border-card-item: #253138;
$org-base-color: #f75014;
$grey-b6: #b6b6b6;
$text-error-color: #ff0000;
$text-success-color: #32be60;
$grey-353f48: #353f48;
$grey-161e27: #161e27;
$black-overlay-00000099: #00000099;
$grey-1f252b: #1f252b;
$grey-8c97a4: #8c97a4;
$grey-2c3944: #2c3944;
$grey-96a2af: #96a2af;
$grey-191f25: #191f25;
$grey-1d2229: #1d2229;
$grey-0f141a: #0f141a;
$grey-31404e: #31404e;

@mixin text-extra-bold {
  font-family: "SVN-Nolan Next Extra Bold";
  font-weight: bold;
  font-style: normal;
}

@mixin text-bold {
  font-family: "SVN-Nolan Next Bold";
  font-weight: bold;
  font-style: normal;
}

@mixin box-grey-1f252b {
  background: $grey-1f252b;
  padding: 0.5rem 0.75rem;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin css-compatible($atribute, $params) {
  #{$atribute}: #{$params};
  -webkit-#{$atribute}: #{$params};
  -khtml-#{$atribute}: #{$params};
  -moz-#{$atribute}: #{$params};
  -ms-#{$atribute}: #{$params};
  -o-#{$atribute}: #{$params};
}

.pop-up--overlay {
  width: 100vw;
  height: 100vh;
  @include flex-col-center;
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.pop-up-modal {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../images/bg_pop_up_base.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: $white-base;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 3rem;
  border: 2px solid $grey-96a2af;
  &__header {
    position: relative;
    width: 100%;
    @include flex-col-center;
    gap: 0.5rem;
    h3 {
      font-size: 1.25rem;
      @include text-bold;
    }
    &--title {
      text-align: center;
      font-size: 1.5rem;
      @include text-bold;
      text-transform: uppercase;
      word-spacing: 0.5rem;
    }
    &--close-btn {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.25rem;
      color: $grey-96a2af;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.5);
        color: $org-base-color;
      }
    }
  }
  &__body {
    span {
      color: $org-base-color;
    }
  }
  &__footer {
    @include flex-col-center;
    gap: 1rem;
  }
}

#header {
  background-color: $grey-0f141a;
  @include flex-row-center;
  justify-content: space-between;
  gap: 1rem;
  height: 64px;
  border-bottom: 1px solid $grey-2c3944;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  .logo-cf {
    transition: all 1s ease;
    @include flex-row-center;
    width: 64px;
    padding: 0 1rem;
    img {
      animation: flickerBrightness 0.3s ease infinite;
      min-width: 64px;
      object-fit: cover;
    }
    &:hover {
      transform: scale(1.2);
    }
  }

  .lst-menu {
    @include flex-row-center;
    .menu-item {
      position: relative;
      display: none;
      &:hover {
        // background: #f75014;
        .menu-item__child {
          @include flex-col-center;
          align-items: start;
        }

        .menu-item__parent {
          border-bottom: 2px solid #f75014;
          p {
            height: 12px;
            font-size: 14px;
          }
        }
      }
      &__parent {
        width: 100px;
        height: 64px;
        @include flex-col-center;
        cursor: pointer;
        &:hover {
          border-bottom: 2px solid #f75014;
          p {
            font-size: 14px;
          }
        }

        p {
          margin-top: 0.25rem;
          display: block;
          color: white;
          font-size: 0px;
          height: 0px;
          transition: all 0.2s ease;
        }
      }

      &__child {
        display: none;
        background-color: #161e27;
        position: absolute;
        max-width: 280px;
        width: 100%;
        min-width: 200px;
        cursor: pointer;
        padding-right: 1rem;
        z-index: 1;

        .sub-menu-item {
          width: 100%;
          background-image: url("../images/ic_search.png");
          background-position: center right;
          background-repeat: no-repeat;
          border-left: 2px solid $grey-2c3944;
          padding: 0.5rem;

          &:hover {
            border-left: 2px solid #f75014;
            p {
              color: #f75014;
              transform: scale(1.05);
            }
          }
          p {
            width: 100%;
            color: white;
            text-align: start;
            font-size: 14px;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }

  .search-bar {
    width: 100%;
    background-color: #161e27;
    padding: 0.5rem 1rem;
    // display: none;
    input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      background-image: url("../images/ic_search.png");
      background-position: center right;
      background-repeat: no-repeat;
      color: white;
      padding-right: 1.5rem;
      &:focus {
        outline: none;
      }
    }
  }

  .notification {
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
    img {
      min-width: 26px;
      object-fit: cover;
      aspect-ratio: 23/26;
    }
    &:hover {
      transform: scale(1.1);
    }
    .notify-dot {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #f75014;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(0, -25%);
    }
  }

  .logged {
    display: none;
    .btn-base {
      max-width: 160px;
      min-width: 120px;
      width: 100%;
      p {
        color: white;
        width: 100%;
        text-align: center;
      }
    }

    #btn-logout {
      cursor: pointer;
      &:hover {
        p {
          transform: scale(1.1);
        }
      }
    }
  }

  //   @include desktop-large {
  //     .search-bar {
  //       display: block;
  //     }
  //   }

  .not-logged {
    display: none;
    .container-black-base,
    .container-org-base {
      max-width: 160px;
      min-width: 120px;
      width: 100%;
      cursor: pointer;
      p {
        color: white;
        width: 100%;
        text-align: center;
      }

      &:hover {
        p {
          transform: scale(1.1);
        }
      }
    }
  }

  .btn-lst-tournaments {
    display: none;
  }

  #btn-menu-mobile {
    display: block;
    min-width: 40px;
    margin: 0 1rem;
  }
}

.flex-row-between {
  @include flex-row-between;
}

.flex-col-center {
  @include flex-col-center;
}

.flex-row-center {
  @include flex-row-center;
}

.page-with-left-menu {
  width: 100vw;
  overflow: scroll;
}

.section-item {
  padding: 1rem;
  margin-bottom: 4%;
  &__header {
    @include flex-row-between;
    flex-wrap: wrap;
    color: $white-base;
    margin-bottom: 1.5rem;
    gap: 1rem;
    &--title {
      font-family: "SVN-Nolan Next Extra Bold";
      font-size: 20px;
      text-transform: uppercase;
    }

    &--action {
      @include flex-row-center;
      gap: 1rem;
    }
  }
  &__contents {
    width: 100%;
  }
}

.page {
  &__header {
    position: relative;
    &--bg {
      width: 100%;
      height: calc(100vh / 3);
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    &--name {
      width: 100%;
      font-weight: bold;
      font-size: 24px;
      padding: 1rem;
      color: $white-base;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "SVN-Nolan Next Extra Bold";
      letter-spacing: 0.25rem;
      text-align: center;
    }
  }

  &__contents {
    width: 100%;
    max-width: 1635px;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5rem;
  }
}

.btn-base {
  padding: 0.5rem 1rem;
  text-align: center;
  @include flex-row-center;
  gap: 0.5rem;
  min-width: 140px;
  color: $white-base;
  cursor: pointer;
  transition: all 0.3s;
  background: linear-gradient(to right, $org-base-color 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  &--org {
    color: $white-base;
    background-color: $org-base-color !important;
  }
  &--black {
    color: $white-base;
    background-color: $grey-0f141a !important;
  }

  &--grey-161e27 {
    color: $white-base;
    background-color: $grey-161e27 !important;
  }

  &--grey-353f48 {
    color: $white-base;
    background-color: $grey-353f48 !important;
  }

  &:hover {
    transform: scale(1.1);
    background-position: left bottom;
  }
}

@include tablet {
  .pop-up-modal {
    gap: 4rem;
    background-size: 100% 100%;
    &__header {
    }
    &__body {
    }
    &__footer {
      flex-direction: row;
    }
  }

  .page-with-left-menu {
    width: calc(100vw - 64px);
  }

  .page {
    &__header {
      &--name {
        font-size: 42px;
      }
    }
  }

  #header {
    .logged {
      @include flex-row-center;
      gap: 1rem;
    }

    .not-logged {
      @include flex-row-center;
      gap: 1rem;
    }

    .btn-lst-tournaments {
      height: 64px;
      max-width: 192px;
      min-width: 152px;
      width: 100%;
      @include flex-row-center;
      cursor: pointer;
      gap: 1rem;
      img {
        min-width: 19px;
        aspect-ratio: 1/1;
        transition: all 0.3s;
      }

      &:hover {
        transform: scale(1) !important;
        p,
        img {
          transform: scale(1.1);
        }
      }
      p {
        text-transform: uppercase;
        color: white;
        text-align: center;
        font-size: 18px;
        transition: all 0.2s ease;
      }
    }
  }

  #left-menu {
    display: block !important;
  }

  #header-mobile {
    width: calc(100vw - 64px) !important;
  }
}

@include desktop {
  .pop-up-modal {
    background-size: 100% auto;
    // &__header {
    // }
    // &__body {
    // }
    &__footer {
      gap: 2rem;
    }
  }

  .page {
    &__header {
      &--name {
        font-size: 50px;
      }
    }
  }

  #header-mobile {
    .lst-menu {
      height: 100%;
      overflow: auto;
    }
  }
  #header {
    gap: 1rem;
    .search-bar {
      max-width: 320px;
    }
  }
}

@keyframes flickerBrightness {
  from {
    filter: brightness(120%);
  }

  to {
    filter: brightness(80%);
  }
}

@include desktop-large {
  #header {
    #btn-menu-mobile {
      display: none !important;
    }
    .lst-menu {
      .menu-item {
        display: block !important;
      }
    }

    .search-bar {
      max-width: 234px;
    }
  }

  #header-mobile.header-mobile-active {
    display: none !important;
  }
}

#left-menu {
  width: 64px;
  height: calc(100vh - 64px);
  border-right: 1px solid $grey-2c3944;
  background-color: #0f141a;
  position: sticky;
  position: -webkit-sticky;
  top: 64px;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: none;
  .lst-left-menu {
    @include flex-col-center;

    .left-menu-item {
      @include flex-col-center;
      gap: 0.5rem;
      width: 100%;
      cursor: pointer;
      height: 72px;
      padding: 1.5rem 0;
      &:hover {
        border-right: 2px solid #f75014;
        p {
          font-size: 10px;
        }
      }
      p {
        color: white;
        font-size: 0px;
        transition: all 0.2s ease;
      }
    }
  }
}

.container-black-base {
  background-color: #161e27 !important;
  padding: 0.5rem 1rem;
  &:hover {
    p {
      transform: scale(1.1);
    }
  }

  p {
    transition: all 0.2s ease;
  }
}

.container-org-base {
  background-color: #f75014 !important;
  padding: 0.5rem 1rem;
  min-width: 120px;
  color: $white-base;
  &:hover {
    p {
      transform: scale(1.1);
    }
  }

  p {
    text-align: center !important;
    transition: all 0.2s ease;
  }
}

#header-mobile {
  display: none;
  width: 100vw;
  height: calc(100vh - 64px);
  background-color: rgba(44, 57, 68, 0.7);
  position: fixed;
  top: 64px;
  right: 0;
  bottom: 0;
  .header-mobile {
    background-color: #0f141a;
    width: 100%;
    height: 100%;
    float: left;
    max-width: 480px;
    max-height: calc(100vh - 64px);
    gap: 2rem;
    overflow: auto;
    color: white;
    .lst-menu {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .menu-item {
        &__parent {
          display: flex;
          gap: 1rem;
          justify-content: center;
          align-items: center;
          img {
            height: 24px;
          }

          p {
            width: 100%;
          }

          .ic-drop-down {
            width: 12px;
            height: 12px;
            aspect-ratio: 1/1;
          }

          &:hover {
            .menu-item__child {
              opacity: 1;
              display: flex;
            }
          }
        }

        &__child {
          margin: 1rem 0.5rem 1rem 2rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .sub-menu-item {
            border-left: 2px solid #f75014;
            padding: 0 0.5rem;
          }
        }
      }
    }

    .search-bar {
      max-width: 234px;
      width: 100%;
      background-color: #161e27;
      padding: 0.5rem 1rem;
      // display: none;
      input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-image: url("../images/ic_search.png");
        background-position: center right;
        background-repeat: no-repeat;
        color: white;
        padding-right: 1.5rem;
        &:focus {
          outline: none;
        }
      }
    }

    .notification {
      position: relative;
      cursor: pointer;
      transition: all 0.2s ease;
      img {
        min-width: 26px;
        object-fit: cover;
        aspect-ratio: 23/26;
      }
      &:hover {
        transform: scale(1.1);
      }
      .notify-dot {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #f75014;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0, -25%);
      }
    }

    .logged {
      @include flex-row-center;
      gap: 0.5rem;
      .container-black-base,
      .container-org-base {
        max-width: 160px;
        min-width: 120px;
        width: 100%;
        p {
          color: white;
          width: 100%;
          text-align: center;
        }
      }

      #btn-logout {
        cursor: pointer;
        &:hover {
          p {
            transform: scale(1.1);
          }
        }
      }
    }

    .not-logged {
      @include flex-row-center;
      gap: 0.5rem;
    }

    .container-black-base,
    .container-org-base {
      max-width: 160px;
      min-width: 120px;
      width: 100%;
      cursor: pointer;
      p {
        color: white;
        width: 100%;
        text-align: center;
      }

      &:hover {
        p {
          transform: scale(1.1);
        }
      }
    }
  }
}

.header-mobile-active {
  display: flex !important;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.btn-black-large {
  $grey-161e27: #161e27;
  $org-base-color: #f75014;
  position: relative;
  overflow: hidden;
  &::after {
    background-color: $grey-161e27 !important;
  }
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0) rotate(50deg);
    transform-origin: top left;
    transition: all 0.35s;
    background-color: $org-base-color !important;
    z-index: -1;
    content: "";
  }
  &:hover {
    &::before {
      transform: translate(0, 0);
    }
  }
}

.hover-animation {
  background-color: transparent;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;

  &::after {
    background-color: #f75014;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.3s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  &:hover::after {
    transform: translate(0, 0);
  }
}

.text-white-extra {
  color: $white-base;
  font-family: "SVN-Nolan Next Extra Bold";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 1rem;

  &--bold {
    font-weight: bold;
  }
}

.btn-more {
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;

  &:hover {
    transform: scale(1.5);
  }
}

.tabs {
  &__header {
    padding: 1rem 0;
    &--items {
      min-width: 120px;
      padding: 0 1rem;
      color: $white-base;
      border-left: 2px solid $grey-2c3944;
      &:first-child {
        padding-left: 0;
        border: none;
      }

      &:hover {
        color: $org-base-color;
      }
    }

    &--active {
      color: $org-base-color;
    }
  }

  &__contents {
    &--items {
      display: none;
    }
    &--active {
      display: block;
    }
  }
}

.hover-ltr {
  background: linear-gradient(to right, $org-base-color 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;

  &:hover {
    background-position: left bottom;
  }
}


.container-table-overflow {
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  min-width: 1200px;
  color: $white-base;
  border-collapse: collapse;
  background-color: #1f252b;
  font-size: 15px;
  thead {
    background-color: $org-base-color;
    font-size: 16px;
  }

  td,
  th {
    padding: 0.75rem 0.5rem;
    border: 1px solid $grey-161e27;
    text-align: center;
  }
}