@import "responsive";
@import "base";

.tournaments-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  &__logo {
    @include flex-col-center;
    img {
      min-width: 64px;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: $white-base;
    font-size: 14px;
    h3 {
      font-size: 16px;
      @include text-bold;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    &--status {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      @include box-grey-1f252b;
      max-width: fit-content;
      font-size: 14px;
      img {
        width: 0.75rem;
        height: 0.75rem;
      }
    }
  }
}

.tournaments-overview {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  color: $white-base;
  margin-bottom: 2rem;
  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    @include box-grey-1f252b;
    &--title {
      display: flex;
      align-items: center;
      gap: 0.5em;
      font-size: 14px;
      img {
        width: 100%;
        aspect-ratio: 1/1;
        min-width: 13px;
      }
    }

    &--desc {
      color: $org-base-color;
      font-size: 20px;
      font-weight: bold;
      text-indent: 1rem;
      @include text-bold;
    }
  }
}

.tournaments-detail {
  .tabs {
    &__header {
      width: 100%;
      display: flex;
      justify-content: stretch;
      align-items: center;
      background-color: $bg-grey-1f252b;
      color: $white-base;
      overflow: auto;
      padding: 0;

      &--item {
        min-width: fit-content;
        padding: 1rem 2rem;
        transition: all 0.3s;
        border-bottom: 2px solid transparent;
        &:hover {
          border-bottom: 2px solid $org-base-color;
          color: $org-base-color;
        }
      }
      &--active {
        border-bottom: 2px solid $org-base-color;
      }
    }
  }
}

.lst-phares-tournaments {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.normal-part {
  padding: 2% 0;
  color: $white-base;
  &__header {
    @include flex-row-center;
    color: $white-base;
    font-size: 20px;
    margin-bottom: 2rem;
    img {
      display: none;
    }

    h3 {
      width: 100%;
      text-align: center;
    }
  }
}

.grid-award-tournaments {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem 2rem;

  .rank-award-item {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: $white-base;
    padding: 0.5rem;
    border-bottom: 2px solid $bg-grey-1f252b;
    background: linear-gradient(to top, #1a2126, transparent);
    &:nth-child(1) {
      border-bottom: 5px solid #dfaa0b;
    }

    &:nth-child(2) {
      border-bottom: 5px solid $white-base;
    }

    &:nth-child(3) {
      border-bottom: 5px solid $org-base-color;
    }

    &--rank-order {
      width: 10%;
      @include flex-row-center;
    }

    &--name {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-basis: 100%;
      img {
        width: 36px;
        object-fit: cover;
      }
    }
    &--prize-money {
      width: 20%;
      @include flex-row-center;
    }
  }
}

.lst-round-match {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-bottom: 6%;

  .round-match-overview-card {
    width: 100%;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to top,
      $org-base-color,
      $bg-grey-1f252b,
      $bg-grey-1f252b
    );
    color: $white-base;
    &--header {
      border-bottom: 2px solid #929daa;
      padding: 1rem;
      background: $bg-grey-1f252b;
      h3 {
        color: $org-base-color;
        font-size: 20px;
      }

      p {
        color: $grey-8c97a4;
      }
    }

    &--body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // justify-items: center;
      gap: 1rem;
      padding: 1rem;
      background: $bg-grey-1f252b;
      font-size: 14px;
      > div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    &--footer {
      padding: 1rem;
      @include flex-row-between;
      gap: 1rem;
      background: $black-0f141a;
      font-size: 14px;
      .tournaments-info__name--status {
        min-width: 120px;
      }
    }
  }
}

.lst-match-schedule {
  &__header {
    margin-bottom: 2rem;
    h3 {
      @include text-bold;
      padding: 1rem;
      border-bottom: 2px solid #929daa;
      color: $white-base;
      font-size: 24px;
    }
  }

  &__contents {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    .match-schedule-table {
      background-color: $bg-grey-1f252b;

      &__round-name {
        padding: 1rem;
        color: $org-base-color;
        font-size: 20px;
        border-bottom: 1px solid #929daa;
        @include text-bold;
      }
      &__lst-match {
        .match-card {
          @include flex-row-between;
          padding: 1rem 0.5rem;
          gap: 1rem;
          background: transparent !important;
          border-bottom: 1px solid #929daa;
          margin-bottom: 0;
          cursor: pointer;

          &__info {
            width: 90%;
            max-width: none;
            justify-content: space-around;
            font-size: 12px;

            &--desc {
              justify-content: space-evenly;
              width: 100%;
              gap: 0.5rem;
              text-align: center;
              img {
              }
            }
            &--teams {
              width: fit-content;
              flex-direction: row;
              gap: 1rem;
              p {
                min-width: 32px;
                text-align: center;
              }
              &--item {
                gap: 0.5rem;
                img {
                  width: 24px;
                }
              }
            }
          }
          &__view {
            img {
              min-width: 12px;
            }
          }
        }

        .lst-map-detail {
          background-color: $grey-2c3944;
          // display: none;
          .match-card {
            cursor: default;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.phares-tournaments {
  width: 100%;
  padding: 1rem;
  border-right: 2px solid $bg-grey-1f252b;
  border-top: 2px solid $bg-grey-1f252b;
  color: $white-base;
  margin: 2rem 0;
  position: relative;
  padding: 2rem 1rem;

  &__tag {
    background-color: $bg-grey-1f252b;
    width: fit-content;
    padding: 0.5rem;
    min-width: 40px;
    height: 40px;
    @include flex-col-center;
    color: $org-base-color;
    @include text-bold;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    margin-right: 0.5rem;
  }

  &__contents {
    h3 {
      @include text-bold;
      color: $org-base-color;
      margin-bottom: 0.25rem;
    }
    p {
      color: $grey-8c97a4;
    }
  }
}

.lst-participating-teams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 2rem;
  .team-card {
    @include flex-col-center;
    width: 100%;
    min-width: 168px;
    aspect-ratio: 1/1;
    border: 1px solid $grey-96a2af;
    color: $white-base;
    gap: 0.25rem;
    padding: 0.5rem;
    &__logo {
      width: 100%;
      margin-bottom: 0, 5rem;
      img {
        width: 100%;

        object-fit: cover;
      }
    }
    &__name {
      @include text-bold;
      font-size: 18px;
    }

    &__desc {
      color: $grey-96a2af;
    }

    h3,
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }
}

.competition-format-box-layout {
  display: grid;
  grid-template-columns: 1;
  gap: 1rem;
  margin-bottom: 2rem;
  .competition-format-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    background-color: $bg-grey-1f252b;
    &__title {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      p {
        color: $grey-96a2af;
      }
    }

    &__contents {
      text-indent: 0.5rem;
      p {
        color: $white-base;
        font-weight: bold;
        @include text-bold;
        font-size: 1.5rem;
      }
    }
  }
}

#ranking-contents {
  #table-total-rating {
    overflow: auto;
    table {
      min-width: 700px;
      thead {
        tr th {
          background-color: $bg-grey-1f252b;
          color: $grey-96a2af;
        }
      }

      tbody {
        tr {
          background-color: $grey-191f25;
          border-left: $grey-96a2af 2px solid;
          &:nth-child(-n + 4) {
            background-color: $bg-grey-1f252b;
          }

          td {
            &:nth-child(2) {
              width: 100%;
              display: flex;
              gap: 0.5rem;
              align-items: center;
              justify-content: center;
              img {
                width: 2.5rem;
              }
            }

            &:not(:nth-child(2)) {
              width: 9%;
            }
          }
        }
      }
    }
  }
  .time-update {
    text-align: center;
    margin-bottom: 2rem;
    color: $grey-96a2af;
  }
}

.lst-source-video {
  display: grid;
  grid-template-columns: 1;
  gap: 2.5rem;

  .iframe-video {
    padding: 1rem;
    &__source {
      width: 100%;
      border: 2px solid $org-base-color;
      aspect-ratio: 16/9;
      margin-bottom: 0.75rem;
      @include flex-col-center;
      iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }

      h3 {
        color: $white-base;
        font-size: 1.25rem;
        text-align: center;
        padding: 0.5rem;
      }
    }
    &__name-platform {
      width: 100%;
      text-align: center;
      color: $white-base;
      font-size: 1rem;
    }
  }
}

@include tablet {
  .lst-source-video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .competition-format-box-layout {
    grid-template-columns: repeat(2, 1fr);
    .competition-format-box {
      &__title {
      }

      &__contents {
      }
    }
  }

  .lst-match-schedule {
    &__header {
      margin-bottom: 2rem;
      h3 {
        @include text-bold;
        padding: 1rem;
        border-bottom: 2px solid #929daa;
        color: $white-base;
        font-size: 24px;
      }
    }

    &__contents {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
      .match-schedule-table {
        background-color: $bg-grey-1f252b;

        &__round-name {
          padding: 1rem;
          color: $org-base-color;
          font-size: 20px;
          border-bottom: 1px solid #929daa;
          @include text-bold;
        }
        &__lst-match {
          .match-card {
            @include flex-row-between;
            padding: 1rem 0.5rem;
            gap: 1rem;
            background: transparent !important;
            border-bottom: 1px solid #929daa;
            &__info {
              width: 90%;
              max-width: none;
              justify-content: space-around;
              flex-direction: row !important;
              font-size: 12px;
              &--desc {
                width: 35%;
              }
              &--teams {
                width: fit-content;
                gap: 1rem;
                p {
                  min-width: 32px;
                  text-align: center;
                }
                &--item {
                  gap: 0.5rem;
                  img {
                    width: 24px;
                  }
                }
              }
            }
            &__view {
              img {
                min-width: 12px;
              }
            }
          }
        }
      }
    }
  }

  .lst-round-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 6%;

    .round-match-overview-card {
      &--body {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        font-size: 16px;
      }

      &--footer {
        @include flex-col-center;
        text-align: center;
      }
    }
  }

  .lst-phares-tournaments {
    grid-template-columns: repeat(2, 1fr);
  }

  .normal-part {
    &__header {
      img {
        display: block;
        width: 100%;
      }

      h3 {
        width: fit-content;
        text-align: center;
        margin: 0 2rem;
      }
    }
  }

  .grid-award-tournaments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
    .rank-award-item {
      &:nth-child(-n + 3) {
        grid-column: span 2 / span 2;
        padding: 1.5rem 0.5rem 1rem 0.5rem;
      }
      &--name {
        img {
          width: 48px;
          object-fit: cover;
        }
      }
    }
  }

  .tournaments-info {
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
    &__logo {
      @include flex-col-center;
      img {
        min-width: 64px;
      }
    }

    &__name {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      color: $white-base;
      font-size: 16px;
      h3 {
        font-size: 24px;
        @include text-bold;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      &--status {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        @include box-grey-1f252b;
        max-width: fit-content;
        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  .tournaments-overview {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    &__item {
      align-items: start;
      &--title {
        font-size: 16px;
      }

      &--desc {
        font-size: 24px;
      }
    }
  }

  .lst-participating-teams {
    grid-template-columns: repeat(4, 1fr);

    .team-card {
      &__logo {
        img {
        }
      }
      &__name {
      }

      &__desc {
      }
    }
  }
}

@include desktop {
  .competition-format-box-layout {
    grid-template-columns: repeat(4, 1fr);
    .competition-format-box {
      &__title {
      }

      &__contents {
      }
    }
  }

  .lst-match-schedule {
    &__header {
      margin-bottom: 2rem;
      h3 {
        @include text-bold;
        padding: 1rem;
        border-bottom: 2px solid #929daa;
        color: $white-base;
        font-size: 24px;
      }
    }

    &__contents {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .lst-round-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 6%;

    .round-match-overview-card {
      width: 100%;
      border: 3px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(
        to top,
        $org-base-color,
        $bg-grey-1f252b,
        $bg-grey-1f252b
      );
      color: $white-base;
      &--header {
        border-bottom: 2px solid #929daa;
        padding: 1rem;
        background: $bg-grey-1f252b;
        h3 {
          color: $org-base-color;
          font-size: 20px;
        }

        p {
          color: $grey-8c97a4;
        }
      }

      &--body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // justify-items: center;
        gap: 1rem;
        padding: 1rem;
        background: $bg-grey-1f252b;
        > div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }

      &--footer {
        padding: 1rem;
        @include flex-row-between;
        gap: 1rem;
        background: $black-0f141a;
        font-size: 14px;
      }
    }
  }

  .tournaments-detail {
    .tabs {
      &__header {
        justify-content: center;
      }
    }
  }

  .lst-phares-tournaments {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .lst-participating-teams {
    grid-template-columns: repeat(6, 1fr);

    .team-card {
      &__logo {
        img {
        }
      }
      &__name {
      }

      &__desc {
      }
    }
  }
}
