/* @font-face {
  font-family: "Nolan Next";
  src: url("../fonts/NolanNext-ExtraBold.ttf") format("truetype"),
    url("../fonts/NolanNext-ExtraBold.woff2") format("woff2"),
    url("../fonts/NolanNext-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

body {
  font-family: Nolan Next;
  font-weight: normal;
  font-style: normal;
}

.container-page {
  max-width: 1450px;
  width: 100%;
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 640px) and (orientation: landscape) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 14px) {
}

* {
  scrollbar-width: noneƒ;
  scrollbar-color: #f75014;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #f75014;
  border-radius: 1rem;
}
