@media screen and (min-width: 640px) {
}

@media screen and (min-width: 640px) and (orientation: landscape) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1289px) {
}

@font-face {
  font-family: "SVN-BebasNeueProSemiExp-Bold";
  src: url("../fonts/SVN-BebasNeueProSemiExp-Bold.eot");
  src: url("../fonts/SVN-BebasNeueProSemiExp-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SVN-BebasNeueProSemiExp-Bold.woff2") format("woff2"),
    url("../fonts/SVN-BebasNeueProSemiExp-Bold.woff") format("woff"),
    url("../fonts/SVN-BebasNeueProSemiExp-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-BebasNeueProExp-ExtraBold";
  src: url("../fonts/SVN-BebasNeueProExp-ExtraBold.eot");
  src: url("../fonts/SVN-BebasNeueProExp-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SVN-BebasNeueProExp-ExtraBold.woff2") format("woff2"),
    url("../fonts/SVN-BebasNeueProExp-ExtraBold.woff") format("woff"),
    url("../fonts/SVN-BebasNeueProExp-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "SVN-BebasNeueProSemiExp-Bold";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  font-family: "SVN-BebasNeueProSemiExp-Bold";
  font-weight: 700;
  font-style: normal;
  border: none;
}

.container-page {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.text-extra-bold {
  font-family: "SVN-Nolan Next Extra Bold";
  font-weight: bold;
  font-style: normal;
}

.text-medium {
  font-family: "SVN-Nolan Next Medium";
  font-weight: bold;
  font-style: normal;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #63f7c9;
  border-radius: 1rem;
}
