.section {
  position: relative;
  z-index: 5;
}
.section__header {
  width: 100%;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__header--logo img {
  width: 100%;
  height: 100%;
  max-height: 40vh;
  margin: 0 auto;
  animation: loopTransRubic 3s infinite linear;
}
.section__header--name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
}
.section__header--name .cfs_banner_name {
  animation: infinityBrightness 0.75s infinite ease-in-out;
}
.section__header--name img {
  width: 100%;
  min-width: 360px;
  max-width: 640px;
  margin: 0 auto;
}
.section__header--name .cfs_logo_banner_owner {
  transform: translateY(-1rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__header--name .cfs_logo_banner_owner img {
  width: 80%;
  min-width: 280px !important;
  margin: 0 auto;
}
.section__contents {
  padding: 1rem 2.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.section__contents--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section__contents--header img {
  max-width: 480px;
  margin: 0 auto;
}
.section__contents--header img:first-child {
  max-width: 360px;
  margin-bottom: 1rem;
}
.section__contents--footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

img {
  width: 100%;
}

.header-tag {
  margin-bottom: 1rem;
}

.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 520px;
  margin: 0 auto;
}
.input-form__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.25rem;
}
.input-form__field label {
  width: 100%;
  font-weight: bold;
}
.input-form__field input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.guide-step {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 2rem;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.guide-step img {
  width: 24px;
  aspect-ratio: 1/1;
  margin-top: 0.25rem;
}
.guide-step p {
  margin-bottom: 0.25rem;
}
.guide-step .step-copy-hashtag img {
  width: 100%;
  max-width: 96px;
  aspect-ratio: unset;
  cursor: pointer;
}

.bar {
  border: 1px solid #63f7c9;
  width: 700px;
  height: 16px;
  border-radius: 0.25rem;
  background-color: #ccc;
  position: relative;
  box-shadow: inset 0 4px 8px rgba(44, 44, 44, 0.5);
}
.bar__progress {
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  background-image: linear-gradient(to right, #63f7c9, #63f7c9);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px 4px #63f7c9;
}
.bar__progress--decorate {
  width: 100%;
  height: 100%;
  box-shadow: inset 2px -2px 4px rgba(44, 44, 44, 0.5);
  background-color: transparent;
  border-radius: 0.25rem;
}
.bar__level {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  background-color: transparent;
}
.bar__level p {
  font-size: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
