@charset "UTF-8";
header {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 3px solid #505050;
}

.header-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.header-action img {
  width: 1.125rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.header-nav {
  flex-grow: 1;
}
.header-nav .nav-tabs {
  border: none;
}
.header-nav .nav-link {
  border: none;
  padding: 0 1rem;
  border-right: 3px solid #505050 !important;
  background-color: transparent;
  border-radius: 0;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.header-nav .nav-link:hover {
  color: #feebcc;
}
.header-nav .nav-link.active {
  background-color: transparent;
  color: #feebcc;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-base {
  width: 100%;
  min-width: 124px;
  max-width: 136px;
  padding: 1rem;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
}
.btn-base__red {
  background: url("../images/bg_btn_base_red.png") no-repeat center;
  background-size: 100% 100%;
}
.btn-base__blue {
  background: url("../images/bg_btn_base_blue.png") no-repeat center;
  background-size: 100% 100%;
}
.btn-base:hover {
  color: white;
  transform: scale(1.05);
}
.btn-base--no-scale:hover {
  transform: scale(1);
}

.header-user-action {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0;
}

.page-content {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#carousel-banner {
  width: 100%;
  aspect-ratio: 960/270;
  border: 1px solid #505050;
  margin-bottom: 1rem;
}

.carousel .carousel-indicators {
  margin: 0 10% 3% 10%;
  justify-content: start;
}
.carousel .carousel-indicators li {
  height: 0.5rem;
  width: 3rem;
}
.carousel .carousel-indicators li.active {
  background-color: #feebcc;
}
.carousel .carousel-inner .carousel-item img {
  width: 100%;
  aspect-ratio: 960/270;
  object-fit: cover;
}

.lst-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: center;
  gap: 1.5rem;
}
.lst-news .news-card {
  width: 100%;
  height: 100%;
  border: 2px solid #505050;
  aspect-ratio: 370/208;
}
.lst-news .news-card img {
  width: 100%;
  aspect-ratio: 370/208;
  object-fit: cover;
}

.page-normal {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 2rem;
}
.page-normal__title {
  width: 100%;
  color: #feebcc;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.page-normal__title h1 {
  font-size: 3rem;
}
.page-normal__title h2 {
  font-size: 2rem;
}
.page-normal__title h3 {
  text-transform: none;
  font-size: 1rem;
}
.page-normal__form {
  width: 100%;
}
.page-normal__form .form-group {
  width: 100%;
  margin-bottom: 1rem;
}
.page-normal__form .form-group label {
  width: 100%;
  text-align: start;
  color: #feebcc;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}
.page-normal__form .form-group input {
  width: 100%;
  padding: 0.75rem 1ƒrem;
  border: 1px solid #505050;
  border-radius: 0;
  background-color: transparent;
  color: #feebcc;
}
.page-normal__form .form-group .field-input-pass {
  width: 100%;
  position: relative;
}
.page-normal__form .form-group .toggle-password {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  width: 1rem;
  aspect-ratio: 1/1;
}
.page-normal__form .form-group .toggle-password:hover img {
  transform: scale(1.25);
}
.page-normal__form .form-group .toggle-password--show {
  background: url("../images/ic_eye_hidden.png") no-repeat center;
}
.page-normal__form .form-group .toggle-password--hide {
  background: url("../images/ic_eye.png") no-repeat center;
}
.page-normal__form .form-group .text-danger {
  font-style: italic;
  font-size: 12px;
}
.page-normal__action .btn-base {
  padding: 0.5rem 1rem;
  max-width: none;
}
.page-normal__note .text-danger {
  font-style: italic;
  font-size: 12px;
}

#otp-verify input {
  text-align: center;
  color: #feebcc;
}

.modal {
  background-color: rgba(0, 0, 0, 0.75);
}
.modal .btn-base {
  width: fit-content;
  max-width: none;
  padding: 0.25rem 1rem;
}

.modal-dialog {
  width: 100%;
}

.modal-content {
  width: 100%;
  height: 100%;
  max-width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #1c1c1c;
  border: 2px solid #505050;
  color: #feebcc;
}
.modal-content .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: none;
  color: #feebcc;
  text-transform: uppercase;
}
.modal-content .modal-body {
  width: 100%;
  color: #feebcc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  text-align: center;
}
.modal-content .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: none;
}
